.appContainer {
  min-height: 80vh;
}

.feedback {
  color: red;
  font-size: 18px;
  font-weight: 600;
}

.feedbackGood {
  color: green;
  font-size: 18px;
  font-weight: 600;
}

input {
  width: 500px;
}
